body {
  padding-top: 3rem;
  color: #5a5a5a;
}

.card-img-top {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.fa-star {
  color: gray;
}

.checked {
  color: orange;
}

.series-title {
  color: black;
  font-size: 1.5rem;
}

.series-author {
  color: gray;
  font-size: 1rem;
}

.episode-title {
  color: black;
  font-size: 1.2rem;
}

.jumbotron {
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: black;
}

.jumbotron-heading {
  padding-top: 1rem;
}

#jumbotron-series {
  min-height: 18rem;
}

#jumbotron-episode {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  min-height: 10rem;
}

#series-cover {
  margin-right: 2rem;
  height: 14rem;
  width: 14rem;
}

.form-comment {
  padding: 0;
}

.form-comment button {
  height: 6rem;
}

.form-comment textarea {
  height: 6rem;
}